@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');

body {
    background: rgb(161, 161, 161);
}

h1 {
    font-family: 'Stardos Stencil', cursive;;
    color: white;
}